.header__logo {
    margin: 0;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 879px) {
    .header__logo {
        /* margin-left: 27px; */
        max-width: 103.74px;
        max-height: 24.4px;
    }
}