.profile__button_action_edit {
    max-width: 24px;
    max-height: 24px;
    margin: 15px 0 0 18px;
    padding: 10px;
    background-size: 16px 10px;
    width: 100%;
}

@media screen and (max-width: 879px) {
    .profile__button_action_edit {
        margin: 0 0 0 10px;
        max-width: 18px;
        max-height: 18px;
        align-self: center;
        padding: 5.25px;
    }
}